<h2>Doctor's Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<h2>Patients's Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>
<h2>Apointment Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></h2>
